.mainReview {
    width: 100%;
    background-color: #D17A22;
    padding: 40px 0;

}

.mainReviewContent {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;

}

.mainReviewContentTitle {
    color: #fffbfe;
    text-align: center;
}

.mainReviewContentTitle h2 {
    font-size: 2.4em;
    margin-bottom: 20px;
}

.mainReviewContentComments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mainReviewContentComments>header {
    flex-basis: 100%;
    color: #fffbfe;
    text-align: center;
    margin-top: 20px;
    font-size: 1.7em;
    margin-bottom: 20px;
}


.mainReviewContentComments article {
    flex-basis: calc(50% - 20px);
    margin: 20px 0;
    background-color: #fffbfe;
    border-radius: 5px;
    -moz-borderRadius: 5px;
    -webkit-borderRadius: 5px;
    padding: 20px;
    color: #6d121e;
}

.mainReviewContentComments article h3 {
    color: #4D0610;
    font-size: 1.2em;
    margin-bottom: 4px;
}

.mainReviewContentComments article img {
    width: 15px;
    marginTop: 5px;
    margin-bottom: 2px;
}