
.mainOptin {
    width: 100%;
    background-color: #33493D;
    margin: 40px 0;

}

.mainOptinContent {
    max-width: calc(1300px - 40px);
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
}

.mainOptinContent header,
.mainOptinContent form {
    flex-basis: 50%;
}

.mainOptinContent header h1,
.mainOptinContent p {
    color: #FFFBFE;
    margin-right: 20px;
    text-align: right;

}

.mainOptinContent header h1 {
    font-size: 1.2em;
    font-weight: 400;
}

.mainOptinContent p {
    font-weight: 300;
    font-size: 0.875em;
}

.mainOptinContent form {
    display: flex;
    justify-content: space-between;


}

.mainOptinContent form input[type=text],
.mainOptinContent form input[type=email] {
    flex-basis: calc(30% - 2px);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: none;
    padding: 0 10px;

}

.mainOptinContent form button {
    flex-basis: 20%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: none;
    background-color: #D17A22;
    color: #fffbfe;
    font-size: 0.875em;
}

.mainOptinContent form button:hover {
    flex-basis: 20%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: none;
    background-color: #4D0610;
    color: #fffbfe;
    font-size: 0.875em;
}